rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /chamui/{doc} {
      allow read, write: if true;
    }
    match /chamui_pure/{doc} {
      allow read, write: if true;
    }
    match /chamui_pure_snapshots/{doc} {
      allow read, write: if true;
    }
    match /chamui_snapshots/{doc} {
      allow read, write: if true;
    }
  }
}
